[nation_apache]

name=_("アパッチ")
plural=_("?plural:アパッチ")
groups="American"
legend=_("The Apaches is a group of Athabascan speaking Indian tribes\
 living in Arizona, New Mexico and Oklahoma. Apache groups include the\
 Western, Chiricahua, Mescalero, Jicarilla, Lipan and Plains Apache.\
 They came from the Far North around 1000 AD. The Apache are known as\
 fierce warriors. In the 19th century it took the United States half a\
 century to subdue them.")

leaders = {
 "name",        "sex"
 "ダソダ・ハエ",  "Male" ; Mangas Coloradas
 "クーチィッシュ", "Male" ; Cochise
 "ゴヤヤエ",     "Male" ; Geronimo
 "ドステェイシュ", "Male" ; Naiche
 "ゴイ",       "Female" ; Gouyen
 "オルチェセイ",    "Male" ; William Alchesay
}

ruler_titles = {
 "government",      "male_title",     "female_title"

 "Despotism",       _("族長 %s"), _("族長 %s")
 "Monarchy",        _("族長 %s"), _("族長 %s")
 "Republic",        _("族長 %s"), _("族長 %s")
 
 "Democracy",       _("族長 %s"), _("族長 %s")


}

flag = "apache"
flag_alt = "-"
city_style = "celtic"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""
civilwar_nations = "navajo"

cities =

;Mescalero Apache:

"Natahende",
"Guhlkahende",
"Dzithinahnde",
"Ch'laande",
"Nit'ahende",
"Tsehitcihende",
"Tsebekinende",
"Tahuunde",
"Tuintsunde",
"Tuetinini",

;Lipan Apache:

"Tseral tuetaha",
"Tche sha",
"Cuelcahen Nde",
"Tcho'kana",
"Koke metchesko laha",
"Tsel tatli dsha",
"Ndawe qoha",
"Sha i'a Nde",
"Tses tsembai",
"Te'l kondaha",
"Tu'tssn Nde",
"Tsesh ke shende",
"Tindi Nde",
"Tcha shka-ozhaye",
"Twid Nde",
"Zit'is'ti Nde",
"Bi'uhit Nde",
"Ha'didla'Nde",
"Zua Zua Nde",

;Jicarilla Apache:

"Sai T'inde",
"Kolkhahin",

;Kiowa Apache bands:

"Na'isha",
"Khat-tleen-deh",

;White Mountain Apache:

"Lunabaha",
"Dzi? Gha'",

;Cibecue Apache:

"Go?kizhn",
"T?'ohk'aa'digaidn",
"Dzi? T'aadn",

;San Carlos Apache:

"Nadah Dogalnine",
"Tsek'aadn",
"T'iisibaan",
"Tsejine",
"Tse Binest'i'e",

;Tonto Apache:

"Daszine Dasdaaye Indee",
"Tu Dot?'izh Indee",
"Dot?'izhi Ha'it'Indee",
"Tse Hichii Indee",
"Tse No?t?'izhn",
"Dil Zhe'e",

;Chiricahua Apache:

"Chiihenee",
"Ch'uk'ane?",
"Nednaa'i",
"Bedonkohe",
"Cho-kon-nen"
