[nation_azeri]

name=_("アゼルバイジャン共和国")
plural=_("?plural:アゼルバイジャン共和国")
rule_name=_("Azeri")
rule_plural=_("?plural:Azeris")
groups="Modern", "Asian", "European"
legend=_("The Azeris are the people of Azerbaijan. The territory\
 of modern Azerbaijan was the scene of rises and falls of different\
 ancient states of the Caucasus region. In 1813 Azerbaijan became\
 part of the Russian Empire, which was followed by a short period\
 of independence in 1918-1920 - as the first Islamic republic\
 in history. Then Azerbaijan became part of the Soviet Union until\
 its dissolution in 1991.")

leaders = {
 "name",                        "sex"
 "ヘイダル・アリエフ",             "Male"
 "イルハム・アリエフ",               "Male"
}

ruler_titles = {
 "government",      "male_title",      "female_title"
 "Despotism",       _("%s 国王"),      _("%s 国王")
 "Monarchy",        _("%s 皇帝"),      _("%s 皇帝")
 "Communism",       _("大統領 %s"), _("大統領 %s")
 "Democracy",       _("大統領 %s"), _("大統領 %s")
}

flag="azerbaijan"
flag_alt="-"
city_style = "Classical"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""

conflicts_with="soviet"
civilwar_nations="turkish", "persian", "armenian"

; http://de.wikipedia.org/wiki/Liste_der_Stadte_in_Aserbaidschan
cities =
 "Bak?",
 "G?nc?",
 "Sumqay?t",
 "Ming?cevir",
 "Qaracuxur",
 "?li Bayraml?",
 "Bak?xanov",
 "Naxc?van",
 "??ki",
 "Yevlax",
 "Xank?ndi",
 "L?nk?ran",
 "R?sulzad?",
 "Bil?c?ri",
 "Ma?ta?a",
 "A?dam",
 "B?rd?",
 "Xacmaz",
 "Salyan",
 "Hovsan",
 "C?lilabad",
 "??mkir",
 "Goycay",
 "A?cab?di",
 "X?rdalan",
 "?mi?li",
 "Lokbatan",
 "?amax?",
 "Sabirabad",
 "?mircan",
 "Fuzuli",
 "Buzovna",
 "Bin?",
 "A?da?",
 "Qaz? M?mm?d",
 "Quba",
 "Siy?z?n",
 "Sahil",
 "D?v?ci",
 "Zabrat",
 "Sabuncu",
 "A?stafa", ; this and following from a map
 "Qazax",
 "Tovuz",
 "Da?k?s?n",
 "Xaniar",
 "N?bia?ali",
 "Dal'mamedli",
 "Goranboy",
 "Lacin",
 "K?lb?c?r",
 "T?rt?r",
 "Z?ngilart",
 "Karadonl?",
 "Saatl?",
 "Qaracala",
 "Bil?suvar",
 "Bank?",
 "Neftcala",
 "Prishibinske",
 "Masall?",
 "Yard?ml?",
 "Lerik",
 "Port ?lic (ocean)",
 "Astara",
 "?l?t",
 "Pirsaat",
 "Qobustan",
 "S?ng?cal",
 "Primorsk",
 "Marakyany",
 "Artyom",
 "Jiloy",
 "Sitacay",
 "Xizi",
 "Qusar",
 "Xudat",
 "Yalama",
 "Quarsu",
 "Kurd?mir",
 "A?su",
 "Shemakha",
 "M?r?z?",
 "Ucar",
 "Z?rdab",
 "?smay?ll?",
 "Q?b?l?",
 "L?ki",
 "Xanabad",
 "Oguz",
 "Oax",
 "Zaqatala",
 "Balak?n"
