[nation_crimeantatar] 

name=_("クリミアタタール") 
plural=_("?plural:クリミアタタール")
rule_name=_("Crimean Tatar") 
rule_plural=_("?plural:Crimean Tatars") 
groups="Medieval", "European", "Early Modern"
legend=_("Historical feudal state on the Crimean Peninsula, existing from\
 the 15th to the 18th century. Crimean Tatars invaded Poland and Russia,\
 which caused wars with Turkey.")

leaders = {
 "name",                "sex"
 "ハック・ゲライ１世",        "Male"
 "ノリ・デブレッド",          "Male"
 "ミンレイ・ゲライ１世",       "Male"
 "エイダー",               "Male"
 "アズ・ゲライ１世",        "Male"
 "サラデット・ゲライ１世",      "Male"
 "サヒブ・ゲライ１世",       "Male"
 "フィティ・ゲライ１世",       "Male"
 "トッタムス ・ゲライ",      "Male"
 "サラーメット・ゲライ１世",     "Male"
 "メヘッド・ゲライ３世",    "Male"
 "ジョニジェック・ゲライ",       "Male"
 "ウナイエット・ゲライ",        "Male"
 "バハダル・ゲライ１世",     "Male"
 "イスラム・ゲライ２世",     "Male"
 "アーディル・ゲライ",          "Male"
 "サラーデット・ゲライ３世",    "Male"
 "カップラン・ゲライ１世",      "Male"
 "セラーメット・ゲライ２世",    "Male"
 "クラム・ゲライ",         "Male"
 "アスラン・ゲライ",        "Male"
 "マクスド・ゲライ",        "Male"
 "シャヒン・ゲライ",         "Male"
}

ruler_titles = {
 "government",      "male_title",         "female_title"
 "Despotism",       _("%s 国王"),         _("%s 女王")
 "Monarchy",        _("%s 国王"),       _("?female:%s 女王")
}

flag= "crimean_tatar" 
flag_alt = "turkey" 
city_style = "Classical" 

init_techs="" 
init_buildings="" 
init_government="Despotism" 
init_units="" 

civilwar_nations="Tatar", "Ukrainian", "Ottoman", "Bashkir"

;Names of cities comes from this webpages: http://crh.wikipedia.org/wiki/Kategoriya:Q?r?mdaki_regionlar
cities =
  "Ba?casaray",
"Yalta",
"Curc?",
"Kefe",
"Kaygador",
"Pa?a Tope",
"Kurey Ba??",
"Otuz",
"Sultan Sala",
"Koktobel",
"Baraq Gol",
"Q?z?lta?",
"A?a?? Otuz",
"Buyuk Lambat",
"A?a?? Degirmenkoy",
"Degirmenkoy",
"Kucuk Lambat",
"Kucukkoy",
"Kurkulet",
"Qarasan",
"Qastel",
"Demirci",
"Lavanda",
"Yedi Ev",
"Korbekul",
"A?a?? ?uma",
"Hac? Ozenba?",
"Yuqar? ?uma",
"Kucuk Ozen",
"Quru Ozen",
"Tuvaq",
"Ulu Ozen",
"Partenit",
"Cayka",
"Qaraba?",
"Uskut",
"Arpat",
"Sarayl? Q?yat",
"Aqtac? Q?yat",
"Ana Yurt",
"Aykavan",
"Bura",
"Cafer Berdi",
"Ca?atay",
"Mamaq",
"Suin Ac?",
"Ya?? Sarabuz",
"Temir A?a",
"Molla Eli",
"Qarac",
"Seymanlarkoy",
"Terek Eli ",
"Ya?murca",
"Badana",
"Aratuq",
"Atman",
"Botke",
"Ce?meci",
"Cumaq Qan",
"Qara?ac",
"Qurca",
"Sabla",
"Be? Terek",
"A?a?? Asma",
"Dermenci",
"Qalmuq Qan",
"?eyhkoy",
"Tuvatay",
"Yuqan Asma",
"Biy Tan??",
"Cal?an",
"Cuyke",
"Boranc? Q?tay",
"Qazanci",
"Uzqast?",
"Bul?anaq",
"Cav Curek",
"Bul?anaq Badraq",
"A?ac Eli",
"Qoya?",
"Coyunci",
"Beki Eli",
"Eski Lez",
"Uc Quyu Tarhan",
"Ya?? Lez",
"Mamut Sultan",
"An?ara",
"Buyuk Yankoy",
"Colman",
"Eski Orda",
"?umhay",
"Tahta Cami",
"Tavel",
"Tav?an Bazar",
"Tirke",
"Totaykoy",
"Mazanka",
"Atal?q Eli",
"Tav Day?r",
"Tolban",
"Mi?lercik",
"Azat",
"Cabac",
"Dortkul",
"Kun Tuv?an",
"Qara Cora",
"Qas?q Degirmen",
"Ac? Kec",
"Ca?a Mam??",
"Qulcuq",
"Cabanaq",
"Qart M???q",
"Taq?l",
"Ulu Coqraq",
"Sarabuz",
"Kickene",
"Aqmecit",
"Do?uzlav",
"Dort Saqal",
"Aqqoca",
"Camal",
"Sadir Ba?ay",
"Toqa",
"Qara Ac?",
"Ablaq Ac?",
"Mayak",
"Q?z?l Co?rav",
"Cegelek",
"Ya?pek",
"Tabuldi Ass",
"Terekli Ass",
"Tarpanc?",
"Can Baba",
"Ceger Ac?",
"Q?pcaq",
"Qunan",
"Tatar Ca?altay",
"Bay Q?yat",
"Nemse Ca?altay",
"Yar?l?ac",
"Kerleut",
"Musa Ali",
"Qarlav",
"Bal?qlava",
"Baydar",
"Ba?a",
"Buyuk Muskomiya",
"Hayto",
"Kalendo",
"Kucuk Muskomiya",
"Ozomoye",
"Sahtik",
"Savatka",
"Skele",
"Urkusta",
"Uzunca",
"Varnautka",
"Inkerman",
"?ulu",
"Uppa",
"Aqley?z",
"Ac?koy",
"Belbek",
"Otarkoy",
"Qam??l?",
"Qac?",
"Eski Eli",
"Mama?ay",
"Polu?ko",
"Aq?eyh",
"Ay?p",
"Q?z?lbay",
"Tatar Aq?eyh",
"Baqqal",
"Buyten",
"Qarc??a",
"Yuqan Baqqal",
"Niva",
"Tavkel Nayman",
"Celal",
"Manay",
"Cerkez",
"Samay",
"Smail Bay",
"Ya?? Manay",
"Munus",
"A?ay",
"Aqsaqal Merkit",
"Biy Orluk",
"Onfrang",
"Qara Merkit",
"Nemse Kop Qan",
"Atay Temir",
"Kereyit",
"Rus Kop Qan",
"Ta? Quyu",
"O?uz O?lu",
"San Bolat",
"Toq ?eyh",
"Qaraba Koku?"
