[nation_kurd]

name=_("クルディスタン")
plural=_("?plural:クルディスタン")
groups="Asian", "Medieval"
legend=_("The Kurds are a distinct ethno-linguistic group speaking an\
 Indo-Aryan language. Their traditional homeland Kurdistan is situated in\
 the northern Middle East and partitioned between Iraq, Turkey, Syria, and\
 Iran. The medieval era saw the rise of several principalities ruled by\
 Kurdish dynasties, including Shaddadid, Rawadid, Hasanwayhid, Annazid,\
 and Marwanid. Subsequently subdued by the Ottomans, the Kurds' struggle\
 for self-rule and independence took off again after the fall of the\
 Ottoman Empire and the end of the colonial era. Today, Iraq's Kurdistan\
 Autonomous Region is the only Kurd-dominated political entity in the\
 world.")

leaders = {
 "name",                "sex"
 "カヴォス",               "Male" ; King of the Median Kurds.
 "バハラームパシャ",        "Male" ; "the Great", Emir of the Badinan Emirate.
 "M・ヴィエルジンジク",    "Male" ; King of the Kingdom of Kurdistan.
 "Q・ミハンマド",       "Male" ; President of the Republic of Kurdistan.
 "マスウード・バールザーニ",     "Male" ; President of the Kurdistan Democratic Party.
}

ruler_titles = {
 "government", "male_title",   "female_title"
 "Despotism",  _("長老 %s"), _("長老 %s")
 "Monarchy",   _("首長 %s"),   _("首長 %s")
 "Democracy",       _("大統領 %s"), _("大統領 %s")
}

flag = "kurd"
flag_alt = "-"
city_style = "Babylonian"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""

civilwar_nations = "iranian", "iraqi", "turkish", "syrian"

cities =
 "Hewler", ; Kurdish name for Arbil (Iraq)
 "Amed", ; Kurdish name for Diyarbak?r (Turkey)
 "Sine", ; Kurdish name for Sanadaj (Iran)
 "Qami?lo", ; Kurdish name for Al Qamishli (Syria)
 "Colemerik", ; Kurdish name for Hakkari (Turkey)
 "Wan", ; Kurdish name for Van (Turkey)
 "Silemani", ; Kurdish name for Sulaymaniyah (Iraq)
 "Elih", ; Kurdish name for Batman (Turkey)
 "Kerm?nsh?h", ; Kurdish name for Kermanshah (Iran)
 "Duhok", ; Kurdish name for Dahuk (Iraq)
 "Bane", ; Kurdish name for Ilam (Iran)
 "Zaxo", ; Kurdish name for Zakho (Iraq)
 "Amude", ; Kurdish name for Amuda (Syria)
 "Chemchemal", ; Kurdish name for Chamchamal (Iraq)
 "Serekani", ; Kurdish name for Ra´s Al Ein (Syria)
 "??rnak", ; (Turkey)
 "Bokan", ; Kurdish name for Bukan (Iran)
 "Diwandere", ; Kurdish name for Diwandarreh (Iran)
 "?dil" ; (Turkey)
