[nation_maltese]

name=_("マルタ共和国")
plural=_("?plural:マルタ")
groups="European", "Modern", "Early Modern"
legend=_("Malta was first settled around 5200 BC. Over the centuries,\
 the islands have been ruled by the Phoenicians, Romans, Fatimids,\
 Sicilians, Knights Hospitaller, French, and British. Malta became\
 independent in 1964 and joined the EU in 2004.")

leaders = {
 "name",                        "sex"
 "パウル・ミン・タルサー",            "Male" ; Paul of Tarsus
 "スカルジャ",     "Male" ; Roger I of Sicily
 "ブリンディジ",      "Male" ; Margaritus of Brindisi
 "カールラ５世",                     "Male" ; Charles I of Spain
 "J・パリゾ・ド・ヴァレット",     "Male" ; Hospitaller grand master
 "フォンペスク",      "Male" ; Hospitaller grand master
 "ヴィタージャ",                    "Female" ; Victoria
 "ゴンジ",              "Male" ; Current PM
 "Iアガサ・バーバラ",  "Female" ; only female President, 1982 - 1987
}

ruler_titles = {
 "government",       "male_title",          "female_title"
 "Democracy",        _("大統領 %s"),_("?female:大統領 %s")
 "Fundamentalism",   _("司教 %s"),        _("司教 %s")
 "Despotism",        _("イギリス人総督 %s"),        _("イギリス人総督 %s")
 "Monarchy",         _("イギリス人総督 %s"),  _("イギリス人総督 %s")
 "Communism",       _("大統領 %s"), _("大統領 %s")
 "Republic",        _("大統領 %s"), _("大統領 %s")
}

flag="malta"
flag_alt = "europe"
                    
city_style = "Classical"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""
civilwar_nations="sicilian", "carthaginian" 

cities =
 "Valletta",		; capital city
 "Birkirkara",		; largest city
 "G?ar Dalam",		; stone age habitation
 "?gantija",		; site of Neolithic temple/habitation
 "?a?ar Qim",		; site of Neolithic temple/habitation
 "Mnajdra",		; site of Neolithic temple/habitation
 "Mdina",		; old capital of Malta
 "Maleth",		; Phoenician city
 "?ebbu?",	; built in Knights Hospitaller period (aka Citta Rohan)
 "?a?-?abbar",	; built in Knights Hospitaller period (aka Citta Hompesch)
 "Dingli",		; near the highest point of Malta
 "?ejtun",
 "Mosta",
 "?al Qormi",
 "San Pawl il-Ba?ar",
 "Tas-Sliema",
 "San ?wann",
 "Naxxar",
 "Rabat",
 "Fgura",
 "Attard",
 "?urrieq",
 "?amrun",
 "Wied il-G?ajn",
 "Ra?al ?did",
 "Bir?ebbu?a",
 "Swieqi",
 "Si??iewi",
 "San ?iljan",
 "Msida",
 "?al Tarxien",
 "Mellie?a",
 "G?ira",
 "Rabat G?awdex",
 "?al-Luqa",
 "Santa Venera",
 "Bormla",
 "Marsa"
