[nation_mazovian]

name=_("マゾフシェ")
plural=_("?plural:マゾフシェ")
groups="European", "Medieval"
legend=_("Mazovia is a historic and geographic region of central-eastern Poland.")

leaders = {
 "name",                        "sex"
 "ニカラ",                     "Male"
 "ボレスワフ６世",     "Male"
 "カジミェシュ２世",   "Male"
 "レシェク1世",              "Male"
 "コンラッド１世",         "Male"
 "ヤヌシュ１世",                   "Male"
 "ヤヌシュ３世",                  "Male"
 "コンラッド３世",             "Male"
 "レシェック・ミジェリンスキ",             "Male"
}

ruler_titles = {
 "government",      "male_title",            "female_title"
 "Despotism",       _("大公 %s"),          _("大公 %s")
 "Fundamentalism",  _("司教 %s"),      _("優しい母 %s")
 "Monarchy",        _("大公 %s"),    _("大公 %s")
 "Communism",       _("第一書記 %s"), _("?female:第一書記 %s")
 "Republic",        _("県知事 %s"), _("県知事 %s")
 "Democracy",       _("県知事 %s"), _("県知事 %s")
}

flag = "mazovia"
flag_alt = "-"
city_style = "European"
init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""

civilwar_nations = "polish"

cities =
  "Czersk",
"P?ock",
"Warszawa",
"?om?a",
"Rawa",
"Dobrzy?",
"Sierpc",
"M?awa",
"?arnow",
"Radom",
"Zakroczym",
"Sochaczew",
"Gostynin",
"Wizna",
"Liw",
"P?o?sk",
"Kuczbork",
"Niedzborz",
"Szre?sk",
"Nur",
"Wyszogrod",
"Grojec",
"Ciechanow",
"Przasnysz",
"Ostro??ka",
"Zambrow",
"Drohiczyn",
"?uromin",
"Pu?tusk",
"Kozienice",
"?yrardow",
"Pruszkow",
"Otwock",
"Siedlce",
"Garwolin",
"Zwole?",
"Skierniewice",
"?owicz",
"Wyszkow",
"Radzymin",
"Warka",
"I??a",
"Ro?an",
"Serock"
