[nation_silesian]

name=_("シレジア")
plural=_("?plural:シレジア")
groups="Medieval", "European"
legend=_("Silesia is a region of southern Poland that was at one time an\
 independent kingdom.")

leaders = {
 "name",                "sex"
 "ヴワディスワフ2世", "Male"
 "ヘンリク1世",      "Male"
 "ボレスワフ1世",      "Male"
 "ミェシュコ1世",    "Male"
 "コンラト・ラスコノギ",        "Male"
 "ラファウ・ユルコヴラニェツ ",        "Male"
}

ruler_titles = {
 "government",      "male_title",           "female_title"
 "Monarchy",        _("公 %s"),         _("女公 %s")
 "Democracy",       _("県知事 %s"), _("?female:県知事 %s")
 "Despotism",       _("公 %s"), _("女公 %s")
}

flag="silesia"
flag_alt = "-"
city_style = "European"
init_techs=""
init_buildings=""

init_government="Despotism"
init_units=""
civilwar_nations = "polish", "sorbian", "moravian"

; if you want your favourite city to be in more prominent place, go ahead
; only leave first 3 cities where they are

cities =
  "Wroc?aw",
  "Opole",
  "Katowice",
  "Legnica",
  "Zielona Gora (hills, grassland)",
  "G?ogow (forest)",
  "Boles?awiec",
  "Wa?brzych",
  "Gliwice",
  "Rybnik (river)",
  "Jelenia Gora (mountains)",
  "?widnica",
  "Lubin",
  "Chojnow",
  "Ma?czyce", 
  "K?odzko",
  "Bytom",
  "O?wiecim",
  "Z?otoryja",
  "Bielany",
  "Zgorzelec", 
  "?ary",
  "Bystrzyca (river)",
  "?agan",
  "Bogatynia", 
  "Chocianow",
  "Nowa Sol",
  "Zabrze",
  "Sosnowiec (forest)",
  "Rokitki",
  "Luba?",
  "Polkowice",
  "Lubi??",
  "K?dzierzyn-Ko?le",
  "Chorzow",
  "Bielsko",
  "Cieszyn",
  "Siemianowice ?l?skie",
  "Wojkowice",
  "Lubliniec",
  "B?dzin",
  "Czelad?"
