[nation_swiss]

name=_("スイス連邦")
plural=_("?plural:スイス連邦")
groups="Modern", "Early Modern", "Medieval", "European"
legend=_("Switzerland has existed as a state in its present form since the\
 adoption of the Swiss Federal Constitution in 1848. The precursors of modern\
 Switzerland established a protective alliance at the end of the 13th century,\
 forming a loose confederation of states which persisted for centuries.")

leaders = {
 "name",                                "sex"
 "ヴィルヘルム・テル",                        "Male"
 "シュナイダー・アマン",             "Male"
 "シモネッタ・ソマルーガ",              "Male"
 "ディディエ・ビュルカルテ",      "Male"
 "ウエリ・マウラー",                         "Male"
 "ドリス・ロイトハルト",                        "Male"
 "ヴィドマー・シュルンプフ",                        "Male"
}

ruler_titles = {
 "government",  "male_title",             "female_title"
 "Anarchy",     _("臨時政権 %s"),          _("?female:臨時政権 %s")
 "Despotism",   _("廷吏 %s"),          _("?female:廷吏 %s")
 "Democracy", _("連邦大統領 %s"), _("?female:連邦大統領 %s")
}

flag="switzerland"
flag_alt = "-"
city_style = "European"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""
civilwar_nations="austrian", "french", "italian"

cities =
 "Bern (river)",
 "Zurich",
 "Basel (river)",
 "Geneve",
 "Lausanne",
 "Winterthur",
 "St. Gallen",
 "Luzern",
 "Lugano",
 "Biel / Bienne",
 "Thun (river)",
 "Koniz",
 "La Chaux-de-Fonds",
 "Fribourg (river)",
 "Schaffhausen (river)",
 "Chur",
 "Neuchatel",
 "Vernier",
 "Uster",
 "Sion (river)",
 "Emmen",
 "Lancy",
 "Kriens",
 "Yverdon-les-bains (river)",
 "Zug",
 "Montreux",
 "Dubendorf",
 "Frauenfeld",
 "Dietikon",
 "Riehen",
 "Baar",
 "Meyrin",
 "Wadenswil",
 "Wetzikon",
 "Carouge",
 "Reinach",
 "Wettingen",
 "Allschwil",
 "Renens",
 "Horgen",
 "Aarau (river)",
 "Jona",
 "Kreuzlingen",
 "Onex",
 "Gossau",
 "Kloten",
 "Wil",
 "Muttenz",
 "Nyon",
 "Bellinzona",
 "Olten",
 "Pully",
 "Vevey",
 "Thalwil",
 "Baden",
 "Littau",
 "Grenchen",
 "Adliswil",
 "Herisau",
 "Aarau",
 "Regensdorf",
 "Ostermundigen",
 "Monthey",
 "Illnau-Effretikon",
 "Steffisburg",
 "Solothurn (river)",
 "Glarus",
 "Appenzell",
 "Martigny",
 "Sierre",
 "Pratteln",
 "Volketswil",
 "Burgdorf",
 "Locarno",
 "Freienbach",
 "Bulach",
 "Schwyz",
 "Binningen",
 "Langenthal",
 "Morges",
 "Wohlen",
 "Cham",
 "Schlieren",
 "Thonex",
 "Einsiedeln",
 "Kusnacht",
 "Liestal",
 "Arbon",
 "Opfikon",
 "Muri",
 "Stafa",
 "Wallisellen",
 "Horw",
 "Spiez",
 "Bulle",
 "Uzwil",
 "Zollikon",
 "Brig-Glis",
 "Meilen",
 "Munchenstein",
 "Kussnacht",
 "Versoix",
 "Amriswil",
 "Ebikon",
 "Ruti",
 "Delemont",
 "Richterswil",
 "Worb",
 "Munsingen",
 "Davos",
 "Ittigen",
 "Lyss",
 "Rheinfelden",
 "Prilly",
 "Gland",
 "Oftringen",
 "Altstatten",
 "La Tour-de-Peilz",
 "Buchs",
 "Le Locle",
 "Birsfelden",
 "Ecublens",
 "Affoltern am Albis",
 "Zofingen"
