[nation_transylvanian]

name=_("トランシルヴァニア")
plural=_("?plural:トランシルヴァニア")
groups="Early Modern", "European"
legend=_("Transylvania is a historical territory in what is now Romania,\
 inhabited by Romanians, Hungarians and Saxon Germans. Transylvania became\
 a principality under nominal Hungarian suzereignty when that country\
 started to crumble under the Ottoman incursions. During the Reformation,\
 Transylvania was the first country in Europe to proclaim religious\
 freedom. The principality lost its independence to Habsburg Austria in\
 1711.")

leaders = {
 "name",                "sex"
 "ヤーノシュ・ゼパウイェイ",     "Male"
 "ハンヤディ・ヤーノシュ",       "Male"
 "ベッヘレン・ガボール",       "Male"
 "ラーコーツィ・ジョルジ",      "Male"
 "エルジェベート・バースリー",    "Female"
 "ラーコーツィ・フェレンツ",      "Male"
 "ベム・ヨージェフ",          "Male"
}

ruler_titles = {
 "government",      "male_title",      "female_title"
 "Republic",        _("領主 %s"),   _("?female:領主 %s")
 "Fundamentalism",  _("司教 %s"),    _("?female:司教 %s")
 "Monarchy",        _("トランシルヴァニア公 %s"),    _("トランシルヴァニア公 %s")
}

flag="transylvania"
flag_alt = "-"
city_style = "European"

init_techs=""
init_buildings=""
init_government="Despotism"
init_units=""

civilwar_nations = "romanian", "hungarian", "vampire"

cities =
 "Gyulafehervar", ;Alba Iulia
 "Nagyszeben", ;Sibiu
 "Kolozsvar", ;Cluj-Napoca
 "Brasso", ;Bra?ov
 "Temesvar", ;Timi?oara
 "Marosvasarhely", ;Targu Mure?
 "Nagyvarad", ;Oradea
 "Beszterce", ;Bistri?a
 "Arad", ;Arad
 "Vajdahunyad", ;Hunedoara
 "Nagybanya", ;Baia Mare
 "Deva", ;Deva
 "Szatmarnemeti", ;Satu Mare
 "Sepsiszentgyorgy", ;Sfantu Gheorghe
 "Resicabanya", ;Re?i?a
 "Kezdivasarhely", ;Targu Secuiesc
 "Zilah", ;Zal?u
 "Torda", ;Turda
 "Lugos", ;Lugoj
 "Medgyes", ;Media?
 "Csikszereda", ;Miercurea Ciuc
 "Maramarossziget", ;Sighetu Marma?iei
 "Des", ;Dej
 "Szekelyudvarhely", ;Odorheiu Secuiesc
 "Nagyenyed", ;Aiud
 "Balazsfalva", ;Blaj
 "Szaszsebes", ;Sebe?
 "Belenyes", ;Beiu?
 "Margitta", ;Marghita
 "Nagyszalonta", ;Salonta
 "Feketehalom", ;Codlea
 "Fogaras", ;F?g?ra?
 "Negyfalu", ;S?cele
 "Aranyosgyeres", ;Campia Turzii
 "Szamosujvar", ;Gherla
 "Karansebes", ;Caransebe?
 "Gyergyoszentmiklos", ;Gheorgheni
 "Marosheviz", ;Topli?a
 "Brad", ;Brad
 "Lupeny", ;Lupeni
 "Szaszvaros", ;Or??tie
 "Petrozseny", ;Petro?ani
 "Vulkan", ;Vulcan
 "Szaszregen", ;Reghin
 "Segesvar", ;Sighi?oara
 "Dicsoszentmarton", ;Tarn?veni
 "Nagykaroly" ;Carei
