
;------------------------------------------------------------------------

[government_feudalism]

name        = _("Feudalism")
reqs = { "type", "name", "range"
         "tech", "Feudalism", "Player"
       }
graphic     = "citizen.content_0"
graphic_alt = "-"

ruler_male_title = _("King %s")
ruler_female_title = _("Queen %s")

helptext = _("\
Based on Monarchy\
"), _("\
Always increase +1 trade point.\n\
There aren't shield bouns in capital.\n\
You can't grow your cities by means of celebrations.\n\
Each of your cities will avoid paying 2 upkeep for your units.\n\
")



;------------------------------------------------------------------------

[government_City-state]

name        = _("City-state")
rule_name   = _("City-state")
reqs = { "type", "name", "range"
         "Tech", "Code of Laws", "Player"
       }
graphic     = "ev.wonderbuilt"
graphic_alt = "-"
 
ruler_male_title = _("Mayor %s")
ruler_female_title = _("?female:Mayor %s")

helptext = _("\
Based on Monarchy\
"), _("\
There are +100% trade output bonus in all cities,\
 and serious city wastes by capital distance.\n\
Capital city gets +100% trade and gold output bonus.\n\
*All* units is built by one more veteran level\
 (including NonMil and NoVeteran flag units).\n\
In each cities, land class units gets +100% defence bonus\
 against *all* type units.\n\
Empire_Size_Base = 3\n\
Empire_Size_Step = 2\n\
Tech_Upkeep_Free += 100\
")



;------------------------------------------------------------------------

[government_High-Technology_State]

name        = _("High-Technology State")
reqs = { "type", "name", "range"
         "tech", "Electronics", "Player"
       }
graphic     = "s.science_bulb_7"
graphic_alt = "-"

ruler_male_title = _("Prime Minister %s")
ruler_female_title = _("?female:Prime Minister %s")

helptext = _("\
Based on Democracy\
"), _("\
Final science output multiply 1.2, and final gold output multiply 0.5.\n\
The chance of civil war is more high risk.\n\
During celebration, each worked tile will get more +1 trade point.\n\
Gets one more unhappy citizen for each 8 of cities.\n\
")



;------------------------------------------------------------------------

[government_National_Mobilization_Law]

name        = _("National Mobilization Law")
reqs = { "type", "name", "range"
         "tech", "Guerilla Warfare", "Player"
       }
graphic     = "citizen.angry_0"
graphic_alt = "-"

ruler_male_title = _("President %s")
ruler_female_title = _("?female:President %s")

helptext = _("\
Based on Democracy\
"), _("\
Final science output multiply 0.5, and final gold output multiply 1.2.\n\
Waste and Unit_Upkeep_Free and Martial_Law is equal to Communism.\n\
There aren't Senate.\n\
Make_Content_Mil=2.\n\
The chance of civil war is more high risk.\n\
During celebration, each worked tile will get more +1 trade point.\n\
Gets one more unhappy citizen for each 8 of cities.\n\
")


