[nation_french]

translation_domain="freeciv"

name=_("French")
plural=_("?plural:French")
groups="Modern", "Early Modern", "Medieval", "European", "Core"
; /* TRANS: Legend for nation in "core" set */
legend=_("France has long been a major power in Europe. French conquerors\
 like Emperor Napoleon and King Charlemagne united large parts of Europe\
 under the French flag. The country also built the world's second largest\
 colonial empire. The French kingdom first came into existence when it\
 grew out of the western part of the Frankish empire during the High\
 Middle Ages. France - and indeed the world - was shaken on its\
 foundations by the French Revolution of 1789.
\n\
\n\
National Feature: Revolution\n\
No anarchy period.\
\n\
\n\
National Building: Grocery\
\n\
National Wonder: Notre Dame, The Louvre Museum, Arc de Triomphe\
\n\
Unique Units: Great General\
")

leaders = {
 "name",                      "sex"
 "Clovis",                    "Male"
 "Charles Martel",            "Male"
 "Charlemagne",	              "Male"
 "Hugo Capet",                "Male"
 "Louis VII",                 "Male"
 "Philippe Auguste",          "Male"
 "Jeanne d'Arc",              "Female"
 "Henri IV",                  "Male"
 "Richelieu",                 "Male"
 "Louis XIV",                 "Male"
 "Marie Antoinette",          "Female"
 "Maximilien de Robespierre", "Male"
 "Napoleon Bonaparte",        "Male"
 "Louis Philippe",            "Male"
 "Napoleon III",              "Male"
 "Adolphe Thiers",            "Male"
 "Georges Clemenceau",        "Male"
 "Charles de Gaulle",         "Male"
 "Francois Mitterrand",       "Male"
}

ruler_titles = {
 "government",      "male_title",         "female_title"
 "Anarchy",         _("Citizen %s"),      _("?female:Citizen %s")
 "Despotism",       _("Chieftain %s"),    _("?female:Chieftain %s")
 "Democracy",       _("Premier %s"),      _("Premiere %s")
 "Fundamentalism",  _("Cardinal %s"),     _("Mother Superior %s")
}

flag="france"
flag_alt = "france_old"
city_style = "Celtic"

init_techs=""
init_buildings="Barracks"
init_units=""

civilwar_nations =
; sub-national nations
 "Alsatian", "Breton", "Burgundian", "Lorrain", "Norman", "Occitan",
 "Savoyard",
; overseas settlements
 "Acadian", "Algerian", "Quebecois", "Tahitian"

cities =
 "Paris",
 "Lyon (river)",
 "Marseille (ocean)",
 "Lille (plains, grassland)",
 "Toulouse (grassland)",
 "Nice (ocean)",
 "Bordeaux (river, swamp)",
 "Nantes (ocean)",
 "Strasbourg (river, plains)",
 "Toulon (ocean)",
 "Rennes (grassland)",
 "Rouen (grassland, forest)",
 "Grenoble (mountains)",
 "Montpellier (swamp, grassland)",
 "Metz (river)",
 "Versailles",
 "Nancy (river)",
 "Clermont-Ferrand (!ocean, hills)",
 "Valenciennes",
 "Tours",
 "Caen",
 "Orleans (!ocean)",
 "Angers",
 "Dijon (!ocean)",
 "Fort-de-France (ocean)",
 "Saint-Etienne",
 "Brest (ocean)",
 "Le Havre (ocean)",
 "Le Mans",
 "Reims (!ocean)",
 "Avignon (river)",
 "Mulhouse (!ocean)",
 "Amiens",
 "Bethune",
 "Dunkerque (ocean)",
 "Perpignan (ocean)",
 "Limoges (mountains)",
 "Besancon",
 "Nimes",
 "Pau",
 "Bayonne (ocean)",
 "Annemasse",
 "Poitiers",
 "Annecy",
 "Lorient (ocean)",
 "Montbeliard",
 "Saint-Denis",
 "Troyes",
 "Saint-Nazaire (ocean)",
 "Ajaccio (ocean, mountains)",
 "La Rochelle (ocean)",
 "Valence",
 "Thionville (ocean)",
 "Angouleme",
 "Boulogne-sur-Mer (ocean)",
 "Chambery",
 "Chalon-sur-Saone (river)",
 "Chartres",
 "Saint-Pierre (ocean)",
 "Niort",
 "Calais (ocean)",
 "Beziers",
 "Arras",
 "Bourges",
 "Lens",
 "Saint-Brieuc (ocean)",
 "Quimper",
 "Cayenne (ocean, jungle)",
 "Vannes",
 "Cherbourg (ocean)",
 "Maubeuge",
 "Aix-en-Provence (ocean, mountains)",
 "Blois",
 "Vichy (!ocean)",
 "Colmar",
 "Tarbes",
 "Compiegne",
 "Charleville-Mezieres",
 "Belfort (mountains)",
 "Roanne",
 "Forbach",
 "Saint-Quentin",
 "Laval",
 "Bourg-en-Bresse (!ocean)",
 "Beauvais",
 "Nevers",
 "Villeurbanne",
 "La Roche-sur-Yon (river)",
 "Creteil",
 "Montauban",
 "Mamoudzou (ocean, jungle)",
 "Boulogne-Billancourt",
 "Soissons",
 "Albi",
 "Nanterre",
 "Montlucon",
 "Narbonne (ocean)",
 "Chateauroux",
 "Cergy",
 "Foix",
 "Chalons-en-Champagne",
 "Evry",
 "Carcassonne",
 "Evreux",
 "Bastia (ocean)",
 "Bobigny",
 "Melun",
 "Gap",
 "Auxerre",
 "Epinal",
 "Cambrai",
 "Macon",
 "Agen",
 "Mont-de-Marsan (forest)",
 "Aurillac (mountains)",
 "Perigeux (mountains, river)",
 "Alencon",
 "Rodez",
 "Laon",
 "Chaumont",
 "Moulins",
 "Auch",
 "Cahors",
 "Saint-Lo",
 "Le Puy-en-Velay (!ocean)",
 "Lons-le-Saunier",
 "Digne-les-Bains (mountains)",
 "Vesoul",
 "Bar-le-Duc",
 "Carpentras",
 "Tulle",
 "Gueret",
 "Mende",
 "Basseterre (ocean)",
 "Verdun",
 "Privas",
 "Pontoise",
 "Navarrenx",
 "Grasse",
 "Oloron-Sainte-Marie",
 "Pointe-a-Pitre (ocean)",
 "Saint-Flour",
 "Feurs",
 "Douai",
 "Montbrison",
 "Villefranche-de-Rouergue (!ocean)",
 "Castres",
 "Draguignan",
 "Gray",
 "Fontenay-le-Comte",
 "Saintes",
 "Coutances",
 "Pamiers",
 "Brive-la-Gaillarde",
 "Dole",
 "Saint-Dizier",
 "Cannes (ocean)",
 "Meaux",
 "Tournon-sur-Rhone (river)",
 "Tourcoing",
 "Chelles",
 "Antibes (ocean)",
 "Argenteuil",
 "Creil",
 "Saint-Omer",
 "Ales",
 "Elbeuf",
 "Saint-Chamond",
 "Frejus (ocean)",
 "Dieppe (ocean)",
 "Arles",
 "Merignac",
 "Saint-Malo (ocean)",
 "Courbevoie",
 "Sete",
 "Evian-les-Bains",
 "Corbeil-Essonnes",
 "Saint-Laurent-du-Maroni (ocean, jungle)",
 "Sainte-Genevieve-des-Bois",
 "Haguenau",
 "Chatellerault",
 "Thonon-les-Bains",
 "Les Sables-d'Olonne (ocean)",
 "Biarritz (ocean)",
 "Bergerac",
 "Villeneuve-d'Ascq",
 "Saint-Jean-Pied-de-Port (mountains)",
 "Vittel",
 "Lourdes",
 "Orange",
 "Sens",
 "Lisieux",
 "Toul",
 "Aix-les-Bains",
 "Briancon",
 "Sedan (hills)",
 "Millau (mountains, hills)",
 "Vienne",
 "Saint-Amand-Montrond (!ocean)",
 "Amboise (river)"
