[nation_spanish]

translation_domain="freeciv"

name=_("Spanish")
plural=_("?plural:Spanish")
groups="Early Modern", "Modern", "European", "Core"
; /* TRANS: Legend for nation in "core" set */
legend=_("The modern Spanish nation was formed when the rulers of the\
 kingdoms of Castile and Aragon led the recapture of the Iberian\
 peninsula from the Moslems. The Reconquista was completed in 1492,\
 the same year Columbus sailed. Spain then went on to create an empire\
 on which the sun never set.
\n\
\n\
National Feature: The Navy\
\n\
\n\
National Building: Dock\
\n\
National Wonder: Conquistador, Alhambra, Sagrada Familia\
\n\
Unique Units: Great General of the Navy\
")

leaders = {
 "name",                         "sex" 
 "Pelayo",                       "Male"
 "Rodrigo Diaz de Vivar",        "Male"
 "Alfonso el Sabio",             "Male"
 "Fernando V",                   "Male"
 "Isabel la Catolica",           "Female"
 "Carlos I",                     "Male"
 "Felipe II",                    "Male"
 "Felipe V",                     "Male"
 "Carlos III",                   "Male"
 "Manuel de Godoy",              "Male"
 "Gaspar Melchor de Jovellanos", "Male"
 "Fernando VII",                 "Male"
 "Rafael del Riego",             "Male"
 "Isabel II",                    "Female"
 "Juan Prim",                    "Male"
 "Emilio Castelar",              "Male"
 "Alfonso XIII",                 "Male"
 "Miguel Primo de Rivera",       "Male"
 "Manuel Azana",                 "Male"
 "Francisco Franco",             "Male"
 "Juan Carlos",                  "Male"
}

ruler_titles = {
 "government",     "male_title",           "female_title"
 "Anarchy",        _("Pretender %s"),      _("?female:Pretender %s")
 "Despotism",      _("Caudillo %s"),       _("Caudilla %s")
 "Fundamentalism", _("Cardinal %s"),       _("Mother Superior %s")
}

flag="spain"
flag_alt = "-"
city_style = "Classical"

init_techs=""
init_buildings=""
init_units=""

conflicts_with="aragonese", "asturian", "castilian", "galician", "leonese"

civilwar_nations=
; Sub-national nations
 "aragonese", "asturian", "basque", "castilian", "catalan", "galician",
 "leonese",

; Spanish speaking ex-colonies
 "argentine", "chilean", "colombian", "cuban", "filipino", "mexican",
 "peruvian", "venezuelan"

cities =
 "Madrid",
 "Barcelona (ocean)",
 "Bilbao (ocean)",
 "Valencia (ocean)",
 "Sevilla",
 "Zaragoza",
 "Pamplona",
 "Oviedo",
 "Valladolid",
 "Toledo",
 "Santander (ocean)",
 "Granada",
 "Leon",
 "Cordoba",
 "San Sebastian (ocean)",
 "Segovia",
 "Gerona",
 "La Coruna (ocean)",
 "Murcia",
 "Malaga (ocean)",
 "Cadiz (ocean)",
 "Tarragona (ocean)",
 "Vitoria",
 "Burgos",
 "Palma (ocean)",
 "Castellon de la Plana (ocean)",
 "Palencia",
 "Huelva (ocean)",
 "Zamora",
 "Badajoz",
 "Jaen",
 "Teruel",
 "Lugo",
 "Ciudad Real",
 "Alicante (ocean)",
 "Almeria (ocean)",
 "Soria",
 "Logrono",
 "Pontevedra",
 "Orense",
 "Guadalajara (river)",
 "Cuenca (mountains)",
 "Santa Cruz de Tenerife (ocean)",
 "Huesca",
 "Avila",
 "Albacete",
 "Lerida",
 "Salamanca",
 "Caceres",
 "Las Palmas de Gran Canaria (ocean)",
 "Reus",
 "Linares",
 "Sabadell",
 "Baracaldo",
 "Calahorra",
 "Manacor (ocean)",
 "Calatrava",
 "Getafe",
 "Alcudia (ocean)",
 "Laredo (ocean)",
 "Albarracin",
 "Renteria (ocean)",
 "Almazan",
 "Durango",
 "Barbastro",
 "Ciudad Rodrigo",
 "El Ferrol (ocean)",
 "Jerez de la Frontera",
 "Algeciras (ocean)",
 "Estela",
 "Alcala de Henares",
 "Ponferrada",
 "Calatayud",
 "Monforte",
 "Elche (ocean)",
 "Orihuela",
 "Merida",
 "Trujillo",
 "Vigo (ocean)",
 "Alcoy",
 "Tarrasa",
 "Astorga",
 "Manresa",
 "Torrelavega",
 "Mataro",
 "Puertollano (hills)",
 "Plasencia",
 "Santurce",
 "Cartagena (ocean)",
 "Ibiza (ocean)",
 "Mahon (ocean)",
 "Badalona",
 "Gijon (ocean)",
 "Aranjuez",
 "Almaden",
 "Seo de Urgel (mountains)",
 "Bailen",
 "Ampurias",
 "Navalcarnero",
 "Guimar",
 "Carmona",
 "Betanzos",
 "La Laguna",
 "Hijar",
 "Baltanas",
 "Villena",
 "Valdepenas",
 "Vergara",
 "Tolosa",
 "Siguenza",
 "Cangas de Onis",
 "Morella",
 "Vitigudino",
 "Marchena",
 "Armuna",
 "Tornelloso",
 "Arzua",
 "Belorado",
 "Jaca (mountains)",
 "Castrojeriz (hills)",
 "Almeniz",
 "Cervera",
 "Cifuentes",
 "Garafia",
 "Sequeros",
 "Alarcon",
 "Segorbe",
 "Almudevar",
 "Salvatierra",
 "Sarnon",
 "Barbate",
 "Albaniz",
 "Gandia",
 "Lerma",
 "Villaviciosa",
 "Jativa",
 "Calamocha",
 "Orotava",
 "Labastida",
 "Mogan",
 "Figueras",
 "Orcera",
 "Alcaudete",
 "Alcira",
 "Zumarraga",
 "Tudela",
 "Montalban",
 "Reinosa",
 "Navalmoral de la Mata",
 "Monreal",
 "Mazarron",
 "Lepe",
 "Montefrio (hills)",
 "Utrera",
 "Alcaniz",
 "Villalba",
 "Jaraiz",
 "Velez",
 "Almunecar",
 "Brunete",
 "Talavera de la Reina",
 "Cardona",
 "Amposta",
 "Sacedon",
 "Marbella",
 "Vejer de la Frontera",
 "Guadix (river)",
 "Azpeitia",
 "Ubeda",
 "Caspe",
 "Torquemada",
 "Lorca",
 "Benidorm (ocean)",
 "Tortosa",
 "Motril",
 "Lucena",
 "Berga",
 "Monzon",
 "Aguimes",
 "Fregenal",
 "Aguilar",
 "Antequera",
 "Tineo",
 "Sedano",
 "Lebrija",
 "Calatanazor",
 "Azuaga",
 "Vilches",
 "Alcantara",
 "Fraga",
 "Benavente",
 "Mondragon",
 "Calanda",
 "Daroca",
 "Valverde",
 "Belmonte",
 "Simancas",
 "Coria",
 "Requena",
 "Aranda"
